.btn {
  background: transparent;
  left: 95%;
  margin-bottom: 10px;
  width: 30px;
  bottom: 10px;
  height: 30px;
  z-index: 1;
  font-size: 3rem;
  color: #00aed1; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #00aed1,
    #00d4ca
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #00aed1,
    #00d4ca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  scroll-behavior: smooth;
  transition: smooth;
  margin-bottom: 7%;
}
