.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 500%;
    min-height: fit-content;
}

.profile-container .profile-parent {
    display: flex;
    align-items: center;
    color: #000000;
}

.profile-detail-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-detail-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
    
}

.primary-text {
    font-size: 20px;
    font-family: cursive;
}

.primary-text {
    color: (--white);
}

.highlighted-text {
    color: var(--darkorange);
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-option .highlighted-bnt {
    margin: 0 0 0 28px;
}

.profile-option .highlighted-bnt:hover {
    margin: 0 0 0 28px;
    background-color: white;
}


.profile-options .btn-primary-btn {
    margin-right: 50px;
    margin-top: auto;
}

.profile-options {
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn-primary-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary-btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
