.about-section h1{
    text-align: center;
    text-size-adjust: 30px;
    color: black;
}

.container {
    align-items: center;
}
.box-about {
  height: inherit;
}

.about-section .container .box-about {
    background-color: rgb(255, 255, 255);  
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;

  }
  .container .box-about  p {
    color: black;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  