@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{ 
  color: #fff;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 100px;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
  color:#000000;
}
.container{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.box .quote i{
margin-top: 5px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  height: 150px;
  width: 150px;
  background: #00B4DB;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid #00aed1;  
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #005064;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #00aed1;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #00aed1, #00d4ca);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #00aed1, #00d4ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 18px;
  font-weight: 600;
}
.rating i{
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #00aed1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00aed1, #00d4ca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00aed1, #00d4ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #00B4DB;
  transition: all 0.3s linear;
}
.btns button:first-child{
  background: none;
  margin-right: 5px;
}
.btns button:last-child{
  color: #fff;
  margin-left: 5px;
}
.btns button:first-child:hover{
  background: #00aed1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00aed1, #00d4ca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00aed1, #00d4ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.btns button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}
